{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Cards -->
<div class="container mt-5">

    <div class="row">
        <div class="col-12">
            <h1>Accion</h1>
        </div>
   
        <div class="row justify-content-center">

            <div class="col-12 col-sm-6 col-md-6">
                <div class="card mb-4">
                    <img src="{% static 'img/cod.jpg' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Call of Duty: Modern Warfare</h5>
                        <p class="card-text">🎯 Acción intensa en cada misión: Enfréntate a amenazas globales en una serie de misiones llenas de adrenalina. 
                            Lucha en escenarios realistas y lleva a cabo operaciones tácticas con un arsenal de armas de última generación.</p>
                            <h5 class="card-text"> Precio: $39.990</h5> 
                            <div class="d-flex justify-content-center">
                              <a href="{% url 'carrito' %}" class="btn btn-warning">AÑADIR AL CARRITO</a>
                            </div>         
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6">
                <div class="card mb-4">
                    <img src="{% static 'img/gtav.jpg' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Grand Theft Auto V</h5>
                        <p class="card-text">🚗 Acción sin límites en Los Santos: Adéntrate en el mundo de la delincuencia y la acción. Realiza misiones llenas de adrenalina, roba vehículos y
                             escapa de la policía mientras exploras la ciudad de Los Santos.</p>
                             <h5 class="card-text"> Precio: $29.990</h5>
                            <div class="d-flex justify-content-center">
                              <a href="{% url 'carrito' %}" class="btn btn-warning">AÑADIR AL CARRITO</a>
                            </div>         
                    </div>
                </div>
            </div>

        </div>
        
</div>

{% endblock %}