{% extends "base.html" %}
{% load static %}

{% block content %}
        <!-- Cambiar contraseña -->
        <div class="container mt-5">
            <h1 class="card-title">Recuperar tú contraseña</h1>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                
                                <form id="contraseña" action="">
   
                                    <div class="mb-3">
                                        <label for="usuario" class="form-label">Ingresa tu correo electrónico para buscar tu cuenta.</label>
                                        <input type="text" class="form-control" id="CorreoE" placeholder="Correo electrónico">
                                        <small class="text-danger" id="CorreoE-Error"></small>  
                                    </div>
                                           
                                    <div class="d-grid mb-3">
                                        <button type="submit" class="btn btn-primary">Buscar</button>
                                    </div>
                                </form>                               
                            </div>
                        </div>
                    </div>
                </div>
                
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>   
    <script>
        document.getElementById("contraseña").addEventListener("submit", function(event){
            event.preventDefault();
            
            let correoE = document.getElementById("CorreoE").value; // Obtener el valor del input
            let correoEError = document.getElementById("CorreoE-Error"); // Referencia al mensaje de error
            correoEError.innerHTML = ""; // Limpiar el mensaje de error al inicio
    
            // Validación del campo
            if(correoE === ""){
                correoEError.innerHTML = "El campo correo electrónico es obligatorio";
            }
            else if(!correoE.includes("@") || !correoE.includes(".")){
                correoEError.innerHTML = "El correo electrónico no es válido";
            }
            else{
              window.location.href = "{% url 'recuperar_contraseña' %}"; // Si no hay errores, enviar el formulario

            }
        });
    </script>

{% endblock %}