{% extends "base.html" %}
{% load static %}
    
{% block content %}  
   <!-- Cards -->
    <div class="container mt-5">

        <div class="row">
            <div class="col-12">
                <h1>Deporte</h1>
            </div>
       
            <div class="row justify-content-center">

                <div class="col-12 col-sm-6 col-md-6">
                    <div class="card mb-4">
                        <img src="{% static 'img/fifa.jpg' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">FIFA 25</h5>
                            <p class="card-text">⚽ El fútbol más realista: Disfruta de una experiencia de fútbol increíblemente realista, con 
                                gráficos de última generación, jugabilidad fluida y una IA más avanzada. Juega en estadios emblemáticos y lleva a tu equipo hacia la victoria. ¡Cada partido es una nueva historia!

                            </p>
                                <h5 class="card-text"> Precio: $49.990</h5> 
                                <div class="d-flex justify-content-center">
                                  <a href="{% url 'carrito' %}"  class="btn btn-warning">AÑADIR AL CARRITO</a>
                                </div>         
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6">
                    <div class="card mb-4">
                        <img src="{% static 'img/nba.jpg' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title"> NBA 2K25</h5>
                            <p class="card-text">🏀 El baloncesto llevado al siguiente nivel: Experimenta jugadas espectaculares, control preciso y gráficos impresionantes. Juega como tus estrellas favoritas o crea a tu propio jugador, 
                                y lleva a tu equipo a la gloria con una experiencia de baloncesto totalmente renovada.</h5>
                                <h5 class="card-text"> Precio: $39.990</h5> 
                                <div class="d-flex justify-content-center">
                                  <a href="{% url 'carrito' %}" class="btn btn-warning">AÑADIR AL CARRITO</a>
                                </div>         
                        </div>
                    </div>
                </div>

            </div>
            
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>   
   
    {% endblock %}
