{% extends "base.html" %}
{% load static %}

{% block content %}
 <!-- Cards -->
 <div class="container mt-5">

    <div class="row">
        <div class="col-12">
            <h1>Estrategia</h1>
        </div>
   
        <div class="row justify-content-center">

            <div class="col-12 col-sm-6 col-md-6">
                <div class="card mb-4">
                    <img src="{% static 'img/age.jpg' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Age of Empires IV</h5>
                        <p class="card-text">🏰 Domina la historia con estrategia: Construye imperios, gestiona recursos y 
                            lidera ejércitos en épicas batallas. Con una jugabilidad mejorada y civilizaciones únicas, cada decisión es clave para conquistar el mundo. ¿Estás listo para forjar tu legado?
                            <h5 class="card-text"> Precio: $14.990</h5> 
                            <div class="d-flex justify-content-center">
                              <a href="{% url 'carrito' %}" class="btn btn-warning">AÑADIR AL CARRITO</a>
                            </div>         
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6">
                <div class="card mb-4">
                    <img src="{% static 'img/war.jpg' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title"> Total War: Warhammer III</h5>
                        <p class="card-text">⚔️ Guerra táctica a gran escala: Comanda poderosas facciones en batallas estratégicas donde la diplomacia y
                             la guerra deciden el destino del mundo. Gestiona tu reino, forma alianzas y conquista con tácticas inteligentes y ejércitos imponentes.</h5>
                            <h5 class="card-text"> Precio: $19.990</h5> 
                            <div class="d-flex justify-content-center">
                              <a href="{% url 'carrito' %}" class="btn btn-warning">AÑADIR AL CARRITO</a>
                            </div>         
                    </div>
                </div>
            </div>

        </div>
        
</div>

{% endblock %}
