{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}



{% block content %}
<!-- Inicio de sesión -->
<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">

                    <form id="login" method="POST" action="{% url 'login_usuario' %}">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo</label>
                            <input type="text" class="form-control" id="correo" name="correo">
                            <small class="text-danger" id="correo-error"></small>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password">
                            <small class="text-danger" id="contrasenna-error"></small>
                        </div>

                        <!-- Checkbox para mostrar/ocultar contraseña -->
                        <div class="mb-3">
                            <input type="checkbox" id="show-password" class="form-check-input">
                            <label for="show-password" class="form-check-label">Mostrar Contraseña</label>
                        </div>

                        <div class="mb-3">
                            <a href="{% url 'contraseña' %}"><label class="form-label">¿Olvidaste tu contraseña?</label></a>
                        </div>

                        <input type="hidden" name="next" value="{{ next }}">

                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                        </div>

                        <div class="d-grid mb-3">
                            <a href="{% url 'formulario' %}" class="btn btn-success">Registrarse</a>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

<script>

    // Si la URL tiene ?next=..., actualiza el input hidden
    const params = new URLSearchParams(window.location.search);
    const next = params.get('next');
    if (next) {
        document.querySelector('input[name="next"]').value = next;
    }



    document.getElementById('login').addEventListener('submit', function(event) {
        event.preventDefault();

        let correo = document.getElementById('correo').value.trim();
        let password = document.getElementById('password').value.trim();

        let correoError = document.getElementById('correo-error');
        let contrasennaError = document.getElementById('contrasenna-error');

        correoError.innerText = '';
        contrasennaError.innerText = '';

        let valid = true;

        if (correo === '') {
            correoError.innerText = 'El campo correo es obligatorio';
            valid = false;
        } else {
            // Validar formato correo (opcional)
            const correoPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!correoPattern.test(correo)) {
                correoError.innerText = 'Por favor, ingresa un correo válido.';
                valid = false;
            }
        }

        if (password === '') {
            contrasennaError.innerText = 'El campo contraseña es obligatorio';
            valid = false;
        }

        if (valid) {
            this.submit();
        }
    });

    // Mostrar/Ocultar contraseña
    document.getElementById('show-password').addEventListener('change', function() {
        let passwordField = document.getElementById('password');
        passwordField.type = this.checked ? 'text' : 'password';
    });
</script>


{% endblock %}
